<section class="jumbo">
  <div class="home-hero-content">
    <h1>Ngx WordPress</h1>
    <p class="head">UX guidelines, HTML/CSS framework, and Angular components working together to craft exceptional
      experiences </p>

    <div class="home-hero-btn">
      <a class="btn btn-primary" routerlink="get-started">Get Started</a>
      <a class="btn btn-secondary btn-outline" href="https://github.com/MurhafSousli/ngx-wordpress">GitHub</a></div>
  </div>
  <clr-icon shape="wpLogoDark" size="500"></clr-icon>
</section>

<section>
  <div class="card">
    <div class="card-block">
      <div class="card-title">
        <h1>Designed for designers and built for developers</h1>
        <br>
        <ul class="list-unstyled">
          <li>
            <clr-icon shape="check"></clr-icon> Observable based library
          </li>
          <li>
            <clr-icon shape="check"></clr-icon> Decorators made it even simpler
          </li>
          <li>
            <clr-icon shape="check"></clr-icon> Caching requests support
          </li>
          <li>
            <clr-icon shape="check"></clr-icon> Pagination support
          </li>
          <li>
            <clr-icon shape="check"></clr-icon> JWT Authentication system
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
