:host {
  ::ng-deep {
    .modal-controls {
      .clr-form-control {
        margin-top: 0;
      }
      .clr-control-container {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
