<div class="toolbar">
  <button class="red" (click)="test()">Prev</button>
  <button class="yellow" (click)="test2()">Next</button>
  <button class="orange" (click)="test3()">More</button>
</div>

<div class="test">
  <wp-collection [args]="args" [endpoint]="endpoint" (response)="wpResponse($event)">
    <div *ngFor="let post of posts" class="item">
      <h3>
        {{post.title.rendered}}
      </h3>
    </div>
  </wp-collection>
  <h3 *ngIf="error">{{error}}</h3>
</div>

<pre>{{pagination | json}}</pre>
