// Colors
$grapefruit: #ED5565;
$grapefruit-dark: #DA4453;

$bittersweet: #FC6E51;
$bittersweet-dark: #E9583F;

$sunflower: #FFCE54;
$sunflower-dark: #F6BB42;

$grass: #A0D467;
$grass-dark: #8CC152;

$mint: #48cfad;
$mint-dark: #37BC9B;

$aqua: #4FC1E9;
$aqua-dark: #3BAFDA;

$bluejeans: #5D9CEC;
$bluejeans-dark: #4A89DC;

$lavander: #AC92EC;
$lavander-dark: #967ADC;

$lightgray: #F5F7FA;
$lightgray-dark: #e6e9ed;

$mediumgray: #CCD1D9;
$mediumgray-dark: #AAB2BD;

$darkgray: #656d78;
$darkgray-dark: #434a54;


:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
  display:flex;
  justify-content: center;
  flex: 0 0 100px;
  border-bottom: 1px solid $mediumgray;
  background-color: $mint-dark;
  color: white;
}

content{
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  background-color: $aqua;
}

footer{
  display: flex;
  flex: 0 0 100px;
  border-top: 1px solid $mediumgray;
  .status{
    flex: 0 1 200px;
    display: flex;
    p{
      margin: 0;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .loading{
      background-color: $grapefruit-dark;
    }
    .ready{
      background-color: $grass-dark;
    }
  }
  .logs{
    width: 100%;
    background-color: $lavander;
  }
}

